page-home {
  .bg {
      background: #f5f7fa;
  }
  .positive {
      background: #35BD59; // fallback for old browsers
      background: -webkit-linear-gradient(to right, #35BD59, #299446); // Chrome 10-25, Safari 5.1-6
      background: linear-gradient(to right, #35BD59, #299446); // W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
  }
  .negative {
      background: #E34C3C; // fallback for old browsers
      background: -webkit-linear-gradient(to right, #E34C3C, #BD3F32); // Chrome 10-25, Safari 5.1-6
      background: linear-gradient(to right, #E34C3C, #BD3F32); // W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
  }
}
